body {
    background-color: #008297;
    background-size: 100%;
}

a:visited{
    color: rgb(255, 255, 255);
}

.section {
    display: flex;
    margin-bottom: 10px;
}

#shapka {
    display: flex;
    justify-content: space-between;
    font-family: 'Stalinist One', cursive;
    font-size: 32px;
    line-height: 1.5px;
}


.s1 {
    display: flex;
    justify-content: flex-start;
    font-family: 'Stalinist One', cursive;
    font-size: 24px;
    align-items: center;
}


.s2 {
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.s3 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Stalinist One', cursive;
    font-size: 24px;
    column-gap: 50px;
}

#text h1 {
    display: flex;
    margin-left: 50px;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Stalinist One', cursive;
    font-size: 42px;
    width: 2120px;
    word-wrap: break-word;
    color: white;
}

#text p {
    display: flex;
    margin-left: 50px;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Stalinist One', cursive;
    font-size: 42px;
    width: 2120px;
    word-wrap: break-word;
    color: white;
}

.sharaga {
    display: flex;
    justify-content: end;
    align-items: end;
}

.sharaga p {
    display: flex;
    justify-content: end;
    align-items: end;
    font-family: 'Stalinist One', cursive;
    font-size: 32px;
    color: white;
}

