body {
    background: url(../img/tmb_328989_480392.jpg);
    background-size: 100%;
}

a:visited{
    color: rgb(255, 255, 255);
}

.section {
    display: flex;
    justify-content: start;
    align-content: start;

}

#shapka {
    display: flex;
    justify-content: space-between;
    font-family: 'Stalinist One', cursive;
    font-size: 32px;
    line-height: 1.5px;
}


.s1 {
    display: flex;
    justify-content: flex-start;
    font-family: 'Stalinist One', cursive;
    font-size: 24px;
    align-items: center;
}

#txt {
align-content: space-around;
}

.text1 {
    background-color: #008297;
    border-radius: 35px;
    background-size: 100%;
    margin-left: 50px;
    font-family: 'Tilt Neon', cursive;
    font-size: 42px;
    width: 1920px;
    word-wrap: break-word;
    color: white;
    column-gap: 50px;
}

.text2 {
    background-color: #8e2eb7;
    border-radius: 35px;
    background-size: 100%;
    margin-left: 50px;
    font-family: 'Tilt Neon', cursive;
    font-size: 42px;
    width: 1920px;
    word-wrap: break-word;
    color: white;
    column-gap: 50px;
    
}